#
TZ="UTC"

#
LOGSTASH_HOST=""

#
LOGSTASH_PORT=""

#
FILEBEAT_NAME=""

#
FILEBEAT_LOGGING_LEVEL="info"

#
NODE_PORT="2222"

#
SECRET_KEY=""

#
XRAY_API_HOST="127.0.0.1"

#
XRAY_API_PORT="61001"

#
XRAY_DOCKER_CONTAINER_NAME="remnanode"

#
POLLING_INTERVAL="1"

#
CONNECTION_DISCONNECT_TIMEOUT="15"
