TZ="UTC"

# Filebeat -> Logstash
LOGSTASH_HOST=""
LOGSTASH_PORT=""
FILEBEAT_LOGGING_LEVEL="info"

# Remnanode env used by remnawave/node image
NODE_PORT="2222"
SECRET_KEY=""

# Xray API polling settings (snitch)
XRAY_API_HOST="127.0.0.1"
XRAY_API_PORT="61001"
POLLING_INTERVAL="1"
CONNECTION_DISCONNECT_TIMEOUT="15"
